{:deps     true
 :http     {:port 8081}
 :dev-http {8080 "resources/public"}
 :builds
 {:frontend
  {:target            :browser
   :asset-path        "/js"
   :output-dir        "resources/public/js"
   :devtools          {:preloads [devtools.preload]}
   :compiler-options  {:optimizations      :none
                       :warnings-as-errors false
                       :warnings           {:fn-deprecated false}}
   :module-hash-names true
   :modules           {:main {:init-fn se.jherrlin.music-theory.webapp.system/init}}}}}
