{:deps     true
 :http     {:port 8081}
 :dev-http {8888 "resources/public"}
 :builds
 {:frontend
  {:target            :browser
   :js-options        {:js-package-dirs ["npm-packages" "node_modules"]}
   :asset-path        "/js"
   :output-dir        "resources/public/js"
   :devtools          {:preloads [devtools.preload]}
   :compiler-options  {:warnings-as-errors false
                       :warnings           {:fn-deprecated false}}
   :module-hash-names true
   :modules           {:main {:init-fn se.jherrlin.music-theory.webapp.main/run}}}}}
